@font-face {
  font-family: 'Avenir-Light';
  src: url('Avenir-LT-W01-35-Light.eot');
  src: url('Avenir-LT-W01-35-Light.woff2') format('woff2'),
       url('Avenir-LT-W01-35-Light.woff') format('woff'),
       url('Avenir-LT-W01-35-Light.ttf') format('truetype'),
       url('Avenir-LT-W01-35-Light.svg#Avenir-Light') format('svg'),
       url('Avenir-LT-W01-35-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('Avenir-LT-W01-85-Heavy.eot');
  src: url('Avenir-LT-W01-85-Heavy.woff2') format('woff2'),
       url('Avenir-LT-W01-85-Heavy.woff') format('woff'),
       url('Avenir-LT-W01-85-Heavy.ttf') format('truetype'),
       url('Avenir-LT-W01-85-Heavy.svg#Avenir-Heavy') format('svg'),
       url('Avenir-LT-W01-85-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'Avenir-Light' !important;
	font-weight: normal !important;
	font-style: normal !important;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Avenir-Heavy' !important;
	font-weight: normal !important;
	font-style: normal !important;
}